@import "./../bootstrap/variables";

.amount {
  margin-top: -81px;
  background-image: linear-gradient(
    268deg,
    #ae20ab 0%,
    #bb21ab 17%,
    #7b1bac 81%,
    #741aac 100%
  );
  background-attachment: fixed;

  .top-background {
    padding-top: 5vw;
  }

  .bottom-background {
    padding-bottom: 5vw;
  }

  &__body {
    text-align: center;
    &--heading {
      text-align: center;
      color: $white;
      font-weight: 800;
      font-size: 42px;
      padding-bottom: 20px;
    }
    &--title {
      text-align: center;
      color: $white;
      font-size: 22px;
      font-weight: 400;
      margin-bottom: 40px;
    }
    ul {
      align-items: center;
      padding: 20px 0;
      li {
        height: auto;
        list-style: none;
        // padding: 0 10px;
        // flex-direction: column;
        align-items: center;
      }
    }
  }

  &__circle {
    width: 200px;
    max-width: 200px;
    height: 200px;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid $white;
    display: flex;
    &--text {
      color: $white;
      font-size: 30px;
      font-weight: 600;
    }
  }
  &__descript {
    text-align: center;
    color: white;
    font-family: $MaaxRoundedTrial;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    margin: 0;
    padding: 20px 50px 0px;
  }

  @media screen and(max-width: 768px) {
    .amount {
      &__body {
        &--heading {
          font-size: 25px;
        }
        &--title {
          font-size: 16px;
          padding: 0 80px;
        }
      }

      &__circle {
        &--text {
          font-size: 30px;
        }
      }
      &__descript {
        font-size: 16px;
        padding: 20px 100px 0;
      }
    }
  }
}
