
.dropdown-toggle:hover{
    color:#333333;
}

.dropdown-toggle::after{
    display:none;
}

.btn-fix {
    color: #333333!important;
    background-color: white!important;
    border-color: none;
    font-size: 1.2rem!important;
    border: none!important;
}
.btn-secondary:focus{
    color:#333333;
    border-color: none;
}

.dropdown-menu{
  background: white linear-gradient(
  114deg, rgba(46, 49, 145, 0.05) 0%, 
  rgba(81, 44, 151, 0.05) 28%, 
  rgba(172, 34, 168, 0.05) 91%, 
  rgba(187, 33, 171, 0.05) 100%) 0% 0% no-repeat padding-box;
  padding: 50px 40px 90px 40px!important;
  box-shadow: inset 7px 0 9px -7px #00000029, 3px 2px 4px 0px;
  /* display:block!important; */
}

.drop-down-item{
    margin-bottom: 20px;
}



.drop-down-item:hover{
    color: #bb21ab!important;
    font-weight: 600;
    background-color: white linear-gradient(
  114deg, rgba(46, 49, 145, 0.05) 0%, 
  rgba(81, 44, 151, 0.05) 28%, 
  rgba(172, 34, 168, 0.05) 91%, 
  rgba(187, 33, 171, 0.05) 100%) 0% 0% no-repeat padding-box!important;
}