.bookDemo{
    margin-bottom: 0px;
    padding: 50px 0 100px 0;
    text-align: center;

}

.bookDemo::before{
  background-image: linear-gradient(
    268deg,
    #ae20ab 0%,
    #bb21ab 17%,
    #7b1bac 81%,
    #741aac 100%
  );
  clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 98%);
  content: "";
  height: 10vw;
  width: 100%;
  display: block;
  background-color: transparent;
  background-attachment: fixed;
  left: 0;
  position: sticky;
  z-index: 1;
  margin-bottom: -4px;
}

.bookDemo-body{
    position: relative;
    margin-bottom: -120px;
    background-image: linear-gradient(
    268deg,
    #ae20ab 0%,
    #bb21ab 17%,
    #7b1bac 81%,
    #741aac 100%
  );
  padding: 40px 0px;
}

.bookDemo-text{
    font-size: 25px;
    color:white;
}

.bookDemo-btn{
    color:#000;
    background-color: white;
    border-radius: 12px;
    padding: 10px 40px;
    font-size: 18px;
    font-weight: bold;
}

