.chart {
  padding-top: 30px;
  background-color: #fff7fe;
  width: 100%;
  padding-bottom: 80px;
}

/* .slick-slider{
  display: flex !important;;
}

.slick-arrow{
  display: none !important;
}

.slick-dots{
  position: relative!important;
  
}

.slick-dots li{
  width:50px;
  height:50px;
  margin: 20px 50px!important;
} */

.chart::after {
  margin-top: 50px;
  background-image: linear-gradient(
    268deg,
    #ae20ab 0%,
    #bb21ab 17%,
    #7b1bac 81%,
    #741aac 100%
  );
  clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 98%);
  bottom: -43.8vh;
  content: "";
  height: 10vw;
  width: 100%;
  display: block;
  background-color: transparent;
  background-attachment: fixed;
  left: 0;
  position: sticky;
  z-index: 1;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
}

.chart p {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
}

.btn-find {
  display: none;
}

.chart-right .chart-item {
  width: 100%;
  padding: 20px 0;
  margin-left: 40px;
}

.chart-right .chart-text {
  display: flex;
  align-items: center;
  color: #000000;
  font-weight: 400;
  padding-bottom: 25px;
}

.chart-right .chart-text:hover {
  cursor: pointer;
  color: #bb21ab;
}

.chart-right .chart-item img {
  width: 40px;
  height: 50px;
  filter: grayscale(100%)!important;
}

.chart-right .chart-item img:hover {
  filter: grayscale(0)!important;
}

.chart-right .chart-item .chart-content {
  position: relative;
  float: left;
}

.chart-right .chart-item .chart-content p {
  padding-left: 40px;
  font-size: 16px;
  font-weight: 400;
}

.chart-left img {
  max-width: 750px;
  width: 100%;
  height: 370px;
  padding-bottom: 20px;
}

.chart-left img:hover {
  transform: scale(1.1);
}

.chart-left p {
  font-weight: 600;
  font-size: 18px;
  text-align: left;
  padding: 0 50px;
}

@media screen and (max-width: 768px) {
  .chart p {
    padding: 0 20px;
    font-size: 30px;
    font-weight: 800;
  }

  .chart a {
    text-decoration: none !important;
  }

  .chart-left {
    text-align: center;
  }
  .chart-left img {
    max-width: 500px;
  }

  .chart-left p {
    text-align: center;
    font-size: 18px;
  }

  .chart-right {
    display: flex;
    text-align: center;
  }

  .chart-right .chart-text {
    text-align: center;
  }

  .chart-right .chart-icon {
    text-align: center;
  }

  .chart-right .chart-icon img {
    max-width: 30px;
    margin-left: -20px;
  }

  .chart-right .chart-content {
    display: none;
  }

  .btn-find {
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #bb21ab;
    font-size: 18px;
    font-weight: 600;
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 10px;
    margin: 0 120px;
  }

  /* button slider */
  .slick-dots li button:before{
    font-size: 20px!important;
  }
}
